/* Empty. Add your own CSS if you like */
@import "http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css";


.scroll {
  padding: 10px 0 50px !important;
}

.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 0 !important;
  
}
.messages .message {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding: 10px !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  overflow: hidden !important;
  text-align: left !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
}
.time.slide-right {
  -webkit-transform: translate3d(130px, 0, 0) !important;
  -moz-transform: translate3d(130px, 0, 0) !important;
  transform: translate3d(130px, 0, 0) !important;
}

.messages.other .message {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}
.messages.other .message.slide-right {
  -webkit-transform: translate3d(120px, 0, 0) !important;
  -moz-transform: translate3d(120px, 0, 0) !important;
  transform: translate3d(120px, 0, 0) !important;
}
.messages.other span {
  color: black !important;
  background-color: #ffc099 !important;
}

.messages.other i {
  float:right ;
  align-self: bottom;
  display: flex;
  width: 45px;
  height: 45px;
  background-color:#fff;
  border-radius: 50px;
  font-size: 26px;
  padding: 10px;
}
.messages i {
  float:left ;
  align-self: bottom;
  display: flex;
  width: 45px;
  height: 45px;
  background-color:#fff;
  border-radius: 50px;
  font-size: 26px;
  padding: 10px;
  -webkit-box-shadow: -1px 3px 37px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 37px -10px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 37px -10px rgba(0,0,0,0.75);
}

.span-chat {
  background: #f8fdff !important;
  display: inline-block !important;
  color: #150101 !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
  margin-left: 7px;
  margin-top: 3px;
  margin-right: 7px;
  font-size: 120%;
}

.larger {
    font-size: larger;
}

.answers {
 
 padding-bottom: 0;
}

.masters {
  background-color:#f8fdff;
}

.heading-main {
 color: white;
 font-weight:  90;
 font-size: 200%;
 margin-top: 40%
}

.heading-sub {
   font-weight: 600;
   font-size: 24px;
   color: #fb7420;
}


.login-list{
  margin-top: 45%;
}

.login-labels{
 text-align: center;
}

.icon {
   font-size: 50px;
}

.supplier-header {
  margin: 0 auto;
  width: auto;
  display: flex;
}

.supplier-body {
  margin: 0 auto;
  width: 85%;
  display: block;
}

.supplier-header-details {
  margin: auto auto auto 10px;
}

.supplier-image {
  width: 70px;
  height: 70px;
}

.supplier-name {
  color: #FFFFFF;
  font-weight:  bolder;
  font-size: 1.5em;
  padding-left: 10px;
}

.supplier-date {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.3em;
  padding-left: 10px;
}

.supply-head{
  color: #150101;
  font-weight:  bolder;
  font-size: 120%;
  padding-left: 10px;
}

.bar.bar-stable.bar-footer {
  background-image: linear-gradient(180deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  background-color: #fff;
  border-top: thin solid #cccc;
}
.profile-row {
}

.bar.item-input-inset .item-input-wrapper input {
  padding-left: 8px;
  width: 94%;
  height: 28px;
  background: #fff;
  border: none;
  font-size: 1.2em;
}
.profile-description {
  color: #150101;
  font-weight: normal;
  font-size: 1.3em;
}

.bar.item-input-inset .item-input-wrapper {
  margin-top: -1px;
  background-color: #fff;
}
.profile-head{
  color: #f35d00;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 120%;
  margin-bottom: -12px;
  display: block;
}

.bar-stable .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #444;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.5em 0;
  padding: 0;
}

.appointments-header{
  text-transform: uppercase;
  font-weight: 500;
  padding: 4px 0 10px 7px;
  color: #f35d00;
  font-size: 1.2em;
  display: block;
}

.appointments-title{
  font-weight: 500;
}

.appointments-maintitle{
  text-transform: uppercase;
  font-weight: 500;
  color: #f35d00;
  display: block;
  font-size: 1.2em;
}
.login-header{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
}

.scroll-content {
  background-color: #43679c !important;
}

.card{
  padding: 10px;
  background-color: #f8fdff !important;
}

.card, .list-inset {
  border-radius: 10px !important;
}
.col {
  padding: 5px 20px 0 3px;
}
.tbl-data {
  font-size: 1.2em;
  color: #150101;
}
.button-calm {
  background-color: #fb7420 !important;
}
.tabs-positive > .tabs, .tabs.tabs-positive {
  background-color: #fb7420 !important;  
}

